<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0;">
    <table width="100%" height="100%" style="background-color: #f5f5f7; background-repeat: repeat; margin: 0;">
        <tr>
            <td>
                <table style="background-color: #ffffff; border: 1px solid #e1e1e1; border-top: none; border-bottom: none; max-width: 768px; width: 100%; margin: auto;">
                    <!-- <tr>
                        <td style="padding: 16px; padding-bottom: 0;">
                            <a href="{{ .Host }}">
                                <img src="https://i.imgur.com/CSFmkOO.png">
                            </a>
                            <div style="width: 100%; height: 1px; margin: auto; background-color: #808080;"></div>
                        </td>
                    </tr> -->
                    <!-- Content -->
                    <tr>
                        <td style="padding: 32px;">
                            {{block "content" .}}{{end}}
                        </td>
                    </tr>
                    <!-- Footer -->
                    <!-- <tr>
                        <td style="padding: 16px; padding-top: 0;">
                            <div style="width: 100%; height: 1px; margin: auto; background-color: #808080;"></div>
                            <p style="font-family: sans-serif; color: #808080; text-align: center; font-size: small;">
                                &copy; 2025 Example Inc. All Rights Reserved.
                            </p>
                        </td>
                    </tr> -->
                </table>
            </td>
        </tr>
    </table>
</body>

</html>