{{define "content"}}
<h1 style="font-family: sans-serif; margin-top: 0;">
    Hello {{ .Data.Displayname }},
</h1>
<p style="font-family: sans-serif; line-height: 1.5;">
    Someone just attempted to log in to your account from a new location.
    You can allow this login attempt by clicking the button below:
</p>

<table style="width: 100%; padding: 16px; border: 1px solid black">
    <tr>
        <td style="font-family: sans-serif; text-align: center;"><b>Time:</b></td>
        <td style="font-family: sans-serif; text-align: center;">{{ .Data.Timestamp }}</td>
    </tr>
    <tr>
        <td style="font-family: sans-serif; text-align: center;"><b>IP Address:</b></td>
        <td style="font-family: sans-serif; text-align: center;">{{ .Data.IpAddress }}</td>
    </tr>
    <tr>
        <td style="font-family: sans-serif; text-align: center;"><b>Location:</b></td>
        <td style="font-family: sans-serif; text-align: center;">{{ .Data.DeviceLocation }}</td>
    </tr>
    <tr>
        <td style="font-family: sans-serif; text-align: center;"><b>Device:</b></td>
        <td style="font-family: sans-serif; text-align: center;">{{ .Data.DeviceBrowser }}</td>
    </tr>
</table>

<p style="font-family: sans-serif; color: #808080; text-align: center;">
    if this wasn't you feel free to ignore or discard this email.
</p>

<!-- If you change this URL change it in the Frontend too! -->
<a href="{{.Host}}/verify-login?token={{.Token}}" style="font-family: sans-serif; display: block; background-color: #2f2f2f; color: white; padding: 12px 0; width: 100%; text-decoration: none; text-align: center; cursor: pointer;">
    Allow Login
</a>

<br>

<p style="font-family: sans-serif;  font-size: small; color: #808080;">
    <i>If the button above doesn't work please copy this URL instead:</i>
</p>

<a style="font-family: sans-serif;  font-size: small; color: #808080; word-break: break-all; white-space: normal;">
    <i>{{ .Host }}/verify-login?token={{ .Data.Token }}</i>
</a>
{{end}}